a, a:hover {
  color: #181818;
}


/* Back to top button */
.back-to-top {
  background: #181818;
  color: #fff;
}


.back-to-top:focus {
  background: #181818;
  color: #fff;
}

.back-to-top:hover {
  background: #181818;
  color: #fff;
}

.navbar-default {
  background: hsla(0, 0%, 9%, 0.6);
}

.form-control:focus {
  border-color: #181818;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px #181818;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px #181818;
}

.service .carousel-indicators .active {
  background: #181818;
}

.btn-theme {
  background: #181818;
}

.contact-widget i {
  color: #181818;
}
